@media screen and (max-width: 600px){

.nav_left{
   height: 3.5vh;
   width: 25vw; 
} 
    
.language{
    display: none;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}
.email{
    height: 5vh;
    width: 80vw;
    background-color: rgba(22, 21, 19, 0.794);
    padding: 3vh 1vh;
   
}
.get_started{
 font-size: 2vh;
}
.hero_section p{
    font-size: 1.5vw; 
    text-align: center;
    width: 90vw;
    font-weight: 400;
    font-family: 'Netflix Sans',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: medium;
    margin-bottom: 1.5vh;
}

.hero_section p:first-of-type{
    margin: 3vh 0;
    font-size:larger;
    font-weight: 500;
}
.hero_section h1{
    line-height: 9vw;
    letter-spacing: 0;
    word-spacing: 0vw;
    font-size:7vw ;
    font-family: 'Netflix Sans',Helvetica Neue,Helvetica,Arial,sans-serif;
}
}